section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  max-width: 1200px;
}
.containers {
  width: 45%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 30px 60px;
  animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.wrap-background {
  border: 2px dashed #403e3e;
  border-radius: 15px;
  background: white;
}
.heading-bar {
  margin-top: 10px;
  text-align: center;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  color: #005983;
  margin-bottom: 5px;
  text-transform: uppercase;
}
p {
  font-size: 12px;
}
.as {
  color: #005983;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.as:hover {
  text-decoration: underline;
}

.rows .cols {
  padding: 10px;
}
.page-auth {
  font-size: 14px;
}
fieldset.form-auth {
  border: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 14px;
  font-weight: 500;
  color: #004a70;
  margin-bottom: 5px;
}
input {
  background: rgb(255, 255, 255);
  padding: 12px 20px;
  border: 1px solid rgb(201, 183, 173);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 12px;
}
small {
  margin-top: 5px;
  font-size: 10px;
  color: #403e3e;
}
button {
  width: 100%;
  background-color: #005983;
  color: #aa9280;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 5px;
}
button:hover {
  background-color: #004a70;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.social-auth {
  text-align: center;
  margin-top: 12px;
}
.wrap-social-auth {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.wrap-social-auth button {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 106, 138);
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  transition: box-shadow 0.3s, transform 0.2s;
}
.wrap-social-auth button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-google i {
  color: #db4437;
  font-size: 14px;
}
.btn-facebook i {
  color: #1877f2;
  font-size: 14px;
}
