body {
    margin: 0;
    min-width: 500px;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    overflow-x: hidden;
    display: flex;
}

.admin-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-avatar .admin-icon{
    width: 40px;
    height: 40px;
    background-color: #4cafaf;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.admin-icon{
    margin-left: 20px;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #1e1e2f;
    height: 100vh;
    color: #fff;
    position: fixed;
    padding: 20px 0;
    flex-shrink: 0;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 14px 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    color: #fff;
}

.menu li a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.menu li:hover,
.menu li.active {
    background: #6c72b6;
    color: #fff;
}

/* Main Content */
.main {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

section{
    display: none;
    overflow: auto;
    overflow-x: auto;
}

section.active-section{
    display: block;
}

/* Header */
.admin-header {
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Cards */
.cards-manager {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.cards-manager > div {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.cards-manager div h3 {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.cards-manager div data {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

/* Data Table */
table {
    width: 100%;
    margin-right: 20px;
    border-collapse: collapse;
    background: white;
    border: 1px #333;
    overflow: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 14px;
    text-align: left;
    border: 1px solid #555;
    border-bottom: 1px solid #555;
}

table th {
    background: #f1f1f1;
    font-weight: bold;
    color: #333;
}
    
table tr:hover {
    background: #f9f9f9;
}

#userTable button{
    background: #6c72b6;
    color: #eee;
    width: 70px;
    height: 20px;
}
#userTable .state{
    color: red;
    font-weight: bold;
}
    
@media (max-width:900px){
    .cards-manager{
        grid-template-columns: repeat(2, 1fr);
    }
}

.content{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: calc(100%-20px);
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.content h3{
    margin-bottom: 20px;
    font-weight: bold;
    color: #444;
}

.banner-form, 
.update-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-form label,
.update-form label{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.update-form input,
.banner-form input,
.banner-form select{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.25s;
}

.banner-form input:focus,
.banner-form select:focus{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.banner-form select{
    background: #fff;
}

.banner-form button,
.update-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #007bff;
    color: #fff;
    border: 1px solid #c4c0c0;
    border-radius: 5px ;
}

.update-form button{
    background: green;
    margin-bottom: 20px;
}

.setting form{
    width: 80%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting form input{
    height: 20px;
}

.setting form button{
    margin-top: 20px;
    height: 20px;
    width: 150px;
    background: green;
    color: white;
    left: calc(70% - 150px);
}

.logout-confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-confirm button{
    background: #c5ecec;
}

#addProductBtn{
    display: flex;
}

.toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px 20px;
    border-radius: 6px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: translateY(-20px);
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
