* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 500px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    background: #f4f6f9;
    overflow-y: scroll;
}

/* ===== Sidebar ===== */

.sidebar {
    width: 200px;
    height: 100vh;
    background: #1e1e2f;
    color: #fff;
    position: fixed;
    padding: 20px 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Admin avatar */
.admin-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 20px;
}

.admin-avatar .admin-icon {
    width: 40px;
    height: 40px;
    background-color: #4cafaf;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.admin-name {
    font-size: 14px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-left: 3px solid transparent;
    transition: all, 0.3s;
    border-radius: 4px;
}

.menu li.active a,
.menu li a:hover{
    background: #cc7cc7;
    border-left: 3px solid #ccc7cc;
    color: #fff;
}

.sidebar::-webkit-scrollbar{
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

/* ===== Main ===== */
.main {
    display: flex !important;
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

.admin-header {
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

/* FORM */
.form-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus, .form-group select:focus {
    border-color: #2c7be5;
    box-shadow: 0 0 5px rgba(44, 123, 229, 0.4);
}

.btn-submit {
    background: #2c7be5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #11aaff;
}

.actions .btn {
    width: 50px;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    display: inline-block;
}

.btn.edit {
    background: #f0ad4e;
    margin-bottom: 3px
}

.btn.edit:hover {
    background: #ec9c3b;
}

.btn.delete {
    background: #dc3545;
}

.btn.delete:hover {
    background: #c12c2c;
}

.empty {
    text-align: center;
    color: #777;
}

/* DASHBOARD */
.dashboard-container {
    padding: 20px;
}

.cards-manager {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.card-number {
    font-size: 24px;
    font-weight: bold;
    color: #2c7be5;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background: #c39898;
}

.section {
    margin-top: 30px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.data-table th, .data-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.data-table th {
    background: #f8f9fa;
}

.status {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

.status.pending {
    background: #f0ad4e;
}

.status.completed {
    background: #28a745;
}

.status.cancelled {
    background: #dc3545;
}